@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    max-width: 640px;
    margin: auto;
    color: #222;
    background-color: crimson;
    line-height: 1.4;
    font-family: 'Ubuntu', sans-serif;
}

main {
    display: inline-block;
    padding: 10px;
    background-color: lightgrey;
    text-align: justify;
}

#logo {
    margin: auto;
    display: block;
}

h1, h2 {
    text-align: center;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

.row-pics {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.row-pics img {
    margin: 10px;
    border-radius: 5px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    font-style: italic;
}
