body {
    background-color: #dbd57e;
    color: #333;
    line-height: 1.4;
    max-width: 640px;
    margin: auto;
    font-family: sans-serif;
    text-align: justify;
    padding: 0;
}

#logo {
    margin: auto;
    display: block;
    padding: 20px;
}

h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.row-pics img {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}

footer {
    padding-bottom: 1em;
    text-align: center;
    font-style: italic;
    color: #555;
}

